/* font-family: "Roboto", sans-serif;
font-family: "Raleway", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400, 500, 700;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

img {
  display: block;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* //Page Header // */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .header-container {
  display: flex;
  align-items: center;
}

.header-container.container {
  width: 1158px;
  padding: 0 15px;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

header .header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  display: flex;
  padding: 0;
  gap: 40px;
  align-items: center;
}

.logo {
  display: flex;
  margin-right: 76px;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.contacts {
  font-style: normal;
    margin: 0px 0px 0px 332px;
}

.nav-link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0px;
}

.nav-link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: rgba(64, 75, 191, 1);
  border-radius: 2px;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.contacts-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
   padding: 24px 0px;
}

.contacts-link:hover {
  color: #404bbf;
}

.contacts-link:focus {
  color: #404bbf;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
}

.hero-button {
  display: block;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  color: #ffffff;
  width: 169px;
  border-radius: 4px;
  height: 56px;
  min-width: 169px;
  margin-top: 48px;
}

.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

.advantages {
  padding: 120px 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-direction: row;
}

.advantages-list .advantage-item {
  flex-basis: calc((100% - 72px) / 4);
  box-sizing: border-box;
}

.advantages-list .advantage-item:first-child {
  width: calc((100% - 72px) / 4);
}

.advantage-title-item {
  margin-bottom: 8px;
}

.advantage-title-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantage-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.team {
  background-color: #f4f4fd;
  padding: 120px 0px;
}

.team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-role {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 8px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-direction: row;

}

.team-list .team-item:first-child {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-item {
  width: calc((100% - 72px) / 4);
}

.container-team-info {
  padding: 32px 0px;
  text-align: center;
}


.team-item {
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.portfolio-list .portfolio-item {
  width: calc((100% - 48px) / 3);
  box-sizing: border-box;
}

.portfolio-container-inner {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-sizing: border-box;
}

.page-footer {
  display: flex;
  background-color: #2e2f42;
  padding: 100px 0px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}

header,
main,
section,
footer,
nav,
address,
ul,
li,
div {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
